<div class="space"></div>
<div class="player">
    <div class="players">
        Rooms
        <hr>
    </div>
    <div class="score">
        Seat's
        <hr>
    </div>
</div>

<div class="player" *ngFor="let item of squares;let i=index;">
        <div class="players">
            {{i}}:
            {{item.id}}
        </div>
        <div class="score">
            <button [routerLink]="['/TicTacToe/' + item.id]" class="btn btn-success">JOIN ROOM</button>
            {{item.players}} / 2
            <hr>
        </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button class="btn btn-secondary" [routerLink]="['/']">Back to Menu</button>
        </div>
    </div>
</div>