.player{
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
    opacity: .9;
}
.player > div{
    background: #eee;
    padding: 1em;
}
.player > div:nth-child(odd){
    background: #ddd;
}
.players{
    grid-column: 2/3;
    text-align: center;
}
.score{
    grid-column: 3/4;
    text-align: center;
}
.space{
    height: 200px;
    width: auto;
}