main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
    margin-top: 50px;
}

h2, h3{
    color: white;
    margin-top: 50px;
}
button{
    margin-top: 20px;
    margin-left: 10px;
    width: 150px;
}
app-square{
    border: 1px solid gray;
    height: 200px;
}