<div class="menu-Conteiner">
    <div class="container-fluid">
        
            <div class="space"></div>

            <div class="row">
                 <div class="col d-flex justify-content-center">
                    <button class="btn btn-success" [routerLink]="['/TicTacToe']">Play</button>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-dark" [routerLink]="['/CreatePlayer']">Create Player</button>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-info" [routerLink]="['/ListOfPlayers']">Playerʼs Boards</button>
                </div>
            </div>
    </div>
</div>